/*General Element Styles*/
html {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
}

h1 {
	font-family: mrs-eaves-roman-small-caps, sans-serif;
	font-size: 2.3rem;
	margin-bottom: 0.7rem;
}

h2 {
	font-family: mrs-eaves-roman-small-caps, sans-serif;
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
}

h3 {
	font-family: proxima-nova, sans-serif;
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 0;
}

p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

strong {
	font-weight: 700;
}

/*Header and Footer Styles*/
.header, .footer {
	display: flex;
	background-color: #333333;
	color: #FFFFFF;
	justify-content: space-between;
	padding: 0 50px;
}

.header__logo {
	max-width: 75px;
}

.logo--img {
	width: 100%;
	height: auto;
}

/***Nav Menus***/

.nav--mobile {
	display: none;
}

.header__nav {
	width: 50%;
	display: flex;
}

.footer__nav {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__mainmenu {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
}

.footer__nav .nav__mainmenu {
	justify-content: space-between;
}

.menu__item {
	width: 160px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: right;
	padding: 0 20px;
}

.header__nav .nav__mainmenu .menu__item:hover {
	background-color: #707070;
}

.menu--link {
	color: #FFFFFF;
	text-decoration: none;
	margin: auto;
}

/*Nav submenu styles*/
.menu__submenu {
	position: absolute;
	width: 180px;
	background-color: #333333;
	display: none;
}

.submenu__item {
	border: 1px solid #FFFFFF;
	padding: 5px 15px;
}

.submenu--link {
	color: #FFFFFF;
	text-decoration: none;
}

/* Footer-specific Styles*/

.footer__sitecontents {
	background-color: #474747;
	text-align: center;
	width: 33%;
	height: 100%;
	margin-left: -50px;
	padding: 1.5rem 0 1rem;
}

.sitecontents__social {
	display: flex;
	width: 50%;
	justify-content: space-around;
	margin: auto;
	padding: 10px;
}

.fa {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
}

.fa:hover {
	color: #5590CC;
}

/* Main Content Styles*/
.main {
	margin: 20px;
}

.hero {
	background-image: url("img/flowers.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.hero__content__container {
	background-color:  rgba(255, 255, 255, 0.3);
	max-width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
}
.hero__content {
	background-color: rgba(255,255,255,0.7);
	padding: 50px 100px;
}

.main--redlink {
	font-size: 1.3rem;
	color: #D83434;
}

.main--redlink:hover {
	font-weight: bold;
}

.main--redlink:visited {
	color: #D83434;;
}

.hero--redlink {
	margin-top: 1.3rem;
}

.maingrid {
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.maingrid__item {
	width: 33%;
	padding: 20px;
}

.printgrid {
	max-width: 100%;
	margin: -5px;
	display: flex;
}

.printgrid__item {
	max-width: 33%;
	padding: 5px;
}

.print--img {
	max-width: 100%;
}

/************Media Queries*****************/
@media screen and (max-width: 1180px){
	html {
		font-size: 15px;
	}
	
	.hero {
		background-size: cover;
	}

	.maingrid {
		padding: 10px;
	}

	.footer__sitecontents{
		max-width: 25%;
	}

	.menu__item {
		width: 180px;
	}
	.footer__nav, .header__nav {
		width: 75%;
	}
}

@media screen and (max-width: 900px) {
	.header, .footer {
		padding: 0 20px;
	}

	.footer__sitecontents {
		width: 25%;
		height: 100%;
		margin-left: -20px;
		padding: 1.5rem 0 1rem;
	}
}

@media screen and (max-width: 760px) {
	.hero__content__container {
		background-color:  rgba(255, 255, 255, 0.2);
		height:250px;
	}

	.hero__content {
		background-color: rgba(255,255,255,0.7);
		padding: 30px;
	}

	.maingrid {
		flex-direction: column;
		padding: 10px;
	}

	.maingrid__item {
		width: 100%;
		padding: 15px;
	}

	.footer {
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		padding: 0;
	}

	.header__nav .nav__mainmenu {
		display: none;
	}

	.header__nav {
		width: 100%;
		align-items: stretch;
		justify-content: center;
		flex-direction: column;
	}

	.nav--mobile {
		display: flex;
		align-items: center;
		margin:auto;
		height: 100%;
	}

	.footer__nav {
		min-width: 100%;
		margin:0;
		padding: 15px 10px;
	}

	.footer__sitecontents {
		min-width: 100%;
		margin:0;
	}

	.nav__mainmenu {
		min-width: 100%;
		justify-content: center;
		align-items: stretch;
	}

	.menu__item {
		text-align: left;
		padding: 0 5px;
	}
}
*/
@media screen and (max-width: 600px) {
	.footer__sitecontents {
		text-align: left;
		padding: 10px;
	}

	.footer__sitecontents h2 {
		padding-left: 10px;
		padding-top: 15px;
	}

	.sitecontents__social {
		margin:0;
		width: 34%;
		justify-content: space-between;

	}


	.nav__mainmenu {
		flex-direction: column;
	}

	.menu__item {
		padding: 20px 10px;
	}
}