.newsgrid {
	margin: -5px;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	width: 100%;
}

.coloroverlay {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	max-height: 350px;
}

.news__item {
	border: 1px solid #888888;
	margin: 5px;
	display: flex;
	flex-flow: column;
}

.mainfeature {
	background: url("../news/news_imgs/spc.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.news__h2 {
	color: #D83434;
}

.news__h3--featured {
	font-family: mrs-eaves-roman-small-caps, sans-serif;
	font-size: 1.8rem;
	margin-bottom: 0.4rem;
}

.news__img {
	max-height: 350px;
	overflow: hidden;
}

.news__desc {
	height: 50%;
	padding: 15px;
}

@media screen and (min-width: 1024px) {
	.coloroverlay {
		max-height: 100%;
		height: 100%;
		overflow: hidden;
	}

	.mainfeature {
		height: 98.7%;
	}

	.newsgrid {
		width: 90%;
	}

	.featuredgrid {
		margin-bottom: 1rem;
	}

	.featuredgrid .news__container {
		width: 50%
	}

	.news__img {
		max-height: 200px;
	}

	.news__img img {
		transform: translateY(-25%);
	}
}